+++
date = "2020-06-11T02:11:48-05:00"
description = "{{ .EventDescription }}"
title = "devopsdays {{ .City }} {{ .Year }}"
type = "new-event"
city = "{{ .City }}"
year = "{{ .Year }}"
{{- with .EventTwitter }}
event_twitter = "{{ . }}"
{{- end }}
{{- with .EventGroup }}
event_group = "{{ . }}"
{{- end }}
{{- with .MastheadBackground }}
masthead_background = "{{ . }}"
{{- end }}
{{- with .GoogleAnalytics }}
ga_tracking_id = "{{ . }}"
{{- end }}
{{- with .SpeakersVerbose }}
speakers_verbose = "{{ . }}"
{{- end }}
{{- with .Cancel }}
cancel = "{{ . }}"
{{- end }}
{{- with .StartDate }}
startdate = "{{ . }}"
{{- end }}
{{- with .EndDate }}
enddate = "{{ . }}"
{{- end }}
{{- with .CFPDateStart }}
cfp_date_start = "{{ . }}"
{{- end }}
{{- with .CFPDateEnd }}
cfp_date_end = "{{ . }}"
{{- end }}
{{- with .CFPDateAnnounce }}
cfp_data_announce = "{{ . }}"
{{- end }}
{{- with .CFPLink }}
cfp_link = "{{ . }}"
{{- end }}
{{- with .RegistrationDateStart }}
registration_date_start = "{{ . }}"
{{- end }}
{{- with .RegistrationDateEnd }}
registration_date_end = "{{ . }}"
{{- end }}
{{- with .RegistrationClosed }}
registration_closed = "{{ . }}"
{{- end }}
{{- with .RegistrationLink }}
registration_link = "{{ . }}"
{{- end }}
{{- with .SponsorLink }}
sponsor_link = "{{ . }}"
{{- end }}
{{- with .SharingImage }}
sharing_image = "{{ . }}"
{{- end }}
{{- with .Coordinates }}
coordinates = "{{ . }}"
{{- end }}
{{- with .Location }}
location = "{{ . }}"
{{- end }}
{{- with .LocationAddress }}
location_address = "{{ . }}"
{{- end }}
{{- with .OrganizerEmail }}
organizer_email = "{{ . }}"
{{- end }}
{{- with .ProposalEmail }}
proposal_email = "{{ . }}"
{{- end }}
{{- with .SponsorsAccepted }}
sponsors_accepted = "{{ . }}"
{{- end }}
{{- with .SponsorLevels }}
sponsor_levels = [
    {{- range . }}
    { id = "{{ .id }}", label = "{{ .label }}"{{ with .max}}, max = {{.}}{{end}} },
    {{- end }}
]
{{- end }}
{{- with .Sponsors }}
sponsors = [
    {{- range . }}
    { name = "{{ .id}}", level = "{{ .level }}"{{ with .url}}, url = "{{.}}"{{end}} },
    {{- end }}
]
{{- end }}
{{- with .NavElements }}
navigation = [
    {{- range . }}
    { name = "{{ .name }}"{{ with .url}}, url = "{{.}}"{{end}} },
    {{- end }}
]
{{- end }}
+++
{{ .Content }}
