+++
Title = "{{ .Title }}"
Twitter = "{{ .Twitter }}"
LinkedIn = "{{ .LinkedIn }}"
GitHub = "{{ .GitHub }}"
Website = "{{ .Website }}"
Employer = "{{ .Employer }}"
Role = "{{ .Role }}"
Image = "{{ .Image }}"
GitLab = "{{ .GitLab }}"
Facebook = "{{ .Facebook }}"
+++
{{ .Bio }}