+++
date = "2020-06-11T02:11:48-05:00"
description = "{{ .EventDescription }}"
title = "devopsdays {{ .City }} {{ .Year }}"
type = "new-event"
city = "{{ .City }}"
year = "{{ .Year }}"
#event_group = "Down Under"
event_twitter = "{{ .EventTwitter }}"
startdate = "{{ .StartDate }}"
enddate = "{{ .EndDate }}"
masthead_background = "{{ .MastheadBackground }}"
sponsors_accepted = "{{ .SponsorsAccepted }}"
sponsor_levels = [
    {{- range .SponsorLevels }}
    { id = "{{ .id }}", label = "{{ .label }}"{{ with .max}}, max = {{.}}{{end}} },
    {{- end }}
]
sponsors = [
    {{- range .Sponsors }}
    { name = "{{ .id}}", level = "{{ .level }}"{{ with .url}}, url = "{{.}}"{{end}} },
    {{- end }}
]
navigation = [
    {{- range .NavElements }}
    { name = "{{ .name }}"{{ with .url}}, url = "{{.}}"{{end}} },
    {{- end }}
]
+++
