+++
description = "{{ .Description }}"
title = "{{ .Title }}"
{{ with .Type}}type = "{{ . }}"{{end}}
{{- with .Aliases }}
aliases = [
    {{- range . }}
        "{{ . }}",
    {{- end }}
]
{{- end }}
{{- with .SharingImage }}
sharing_image = "{{ . }}"
{{- end }}
{{- with .Speakers }}
speakers = [
    {{- range . }}
        "{{ . }}",
    {{- end }}
]
{{- end }}
{{- with .YouTube }}
youtube = "{{ . }}"
{{- end }}
{{- with .Vimeo }}
vimeo = "{{ . }}"
{{- end }}
{{- with .Slideslive }}
slideslive = "{{ . }}"
{{- end }}
{{- with .Speakerdeck }}
speakerdeck = "{{ . }}"
{{- end }}
{{- with .Slideshare }}
slideshare = "{{ . }}"
{{- end }}
{{- with .GoogleSlides }}
googleslides = "{{ . }}"
{{- end }}
{{- with .PDF }}
pdf = "{{ . }}"
{{- end }}
{{- with .Notist }}
notist = "{{ . }}"
{{- end }}
{{- with .Slides }}
slides = "{{ . }}"
{{- end }}
{{- with .Website }}
website = "{{ . }}"
{{- end }}
{{- with .Twitter }}
twitter = "{{ . }}"
{{- end }}
{{- with .Facebook }}
facebook = "{{ . }}"
{{- end }}
{{- with .LinkedIn }}
linkedin = "{{ . }}"
{{- end }}
{{- with .GitHub }}
github = "{{ . }}"
{{- end }}
{{- with .GitLab }}
gitlab = "{{ . }}"
{{- end }}
{{- with .Image }}
image = "{{ . }}"
{{- end }}
{{- with .Icons }}
icons = "{{ . }}"
{{- end }}
{{- with .LinkTitle }}
linktitle = "{{ . }}"
{{- end }}
+++
{{ .Content }}